PORT=8000
HOST=0.0.0.0
ENVIRONMENT=development

# Database connection
DATABASE_URL=postgresql://neondb_owner:npg_OwNdDnegY30T@ep-shiny-bonus-aq9jopbg-pooler.c-8.us-east-1.aws.neon.tech/neondb

# Authentication
JWT_SECRET=super-secure-rotated-key-18a38c2084b4923170a4
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
